@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --mainColor:#4980d9  ;
  --bkColor:#19102f;
  --textColor:#000;
  --reverseTextColor:#ffffffc1;
  --sltColor:#F9C843;
  --holdColor:#AAA9AD;
  --subColor:#d84e3e;
}

body{
  color: var(--textColor);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
.active {
  color:var(--mainColor);
  font-weight: 700;
}
.pombUp {
  animation: pombUp 0.3s ease-in-out ;
}
@keyframes pombUp {
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(.8);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}